/* --- GLOBAL --- */

h2 {
  font-size: 2.5rem !important;
}

p {
  margin: 0 !important;
}

.homePage {
  background-color: #1abc9c;
}

.heading {
  font-weight: 700;
}

/* Divider */

.dividerBlock {
  height: 4px;
  width: 80px;
  background-color: white;
}

/* --- END GLOBAL --- */

/* --- NAVBAR --- */

.navbar-brand:focus,
.navbar-brand:hover,
.nav-link:focus,
.nav-link:hover {
  color: #fff !important;
}

.navbar {
  background-color: #2c3e50;
}

.navbar a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
}

.navbar-nav .nav-link.active {
  background: #1abc9c;
  color: #fff;
}

/* --- END NAVBAR --- */

/* --- Footer --- */

.footer {
  background-color: #2c3e50;
  color: #fff;
  padding-block: 6rem;
}

.footer .icons i {
  border-radius: 50vh;
  padding: 10px;
  border: 1px white solid;
  margin-inline: 5px;
}

.copyRights {
  background-color: #1a252f;
}

/* --- END Footer --- */

/* --- Home --- */

.homePage .homeAvatar {
  width: 15rem;
}

/* --- END Home --- */

/* --- ABOUT --- */

.aboutPageInfo .row {
  margin-inline: 3rem;
}

/* --- END ABOUT --- */

/* --- PORTFOLIO --- */

#portfolio .dividerBlock {
  background-color: #2c3e50;
}

#portfolio #divider i,
#portfolio .heading {
  color: #2c3e50 !important;
}

.text-navy {
  background-color: #2c3e50;
}

#portfolio .portfolioOverlay {
  background-color: #1abc9cd5;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}

#portfolio .porfolioCard:hover .portfolioOverlay {
  opacity: 1;
}

#portfolio .image-Overlay {
  z-index: 759385;
}

#portfolio .image-Overlay img {
  width: 45%;
}

/* --- END PORTFOLIO --- */

/* --- CONTACT --- */

#contactPage .dividerBlock {
  background-color: #2c3e50;
}

#contactPage #divider i,
#contactPage .heading {
  color: #2c3e50 !important;
}

#contactPage .form-control:focus:focus {
  box-shadow: none;
}
/* 
#contactPage .slideUp {
  animation: slideUp 5s ease;
  animation-delay: 1s;
  position: relative;
  transition: all 0.3s ease-out;
  background: #428bca;
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

#contactPage label {
  color: #1abc9c;
}

.SlideUp {
  top: 100%;
  animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    top: 100%;
    transform: translate3d(0, 75%, 0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    top: 0px;
    transform: none;
    opacity: 1;
  }
}

/* fadeOut */

.SlideDown {
  position: absolute;
  top: 0;
  animation-name: fadeDown;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

@keyframes fadeDown {
  0% {
    top: 0;
    transform: translate3d(0, 75%, 0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    top: 100%;
    transform: none;
    opacity: 0;
  }
}

/* #userName1 {
  transition: 0.6s top;
}

.slideTop {
  top: 40px;
} */

/* --- END CONTACT --- */
